body, html, ul {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #1d3d40;
}

.container{
    box-sizing: border-box;
    display: block;
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

header, footer {
    background-color: #bde68c;
    padding: 10px;
    text-align: center;
}

header h1 a {
    color: #fff;
    text-decoration: none;
}

header h1 a:hover {
    color: #1d3d40;
    text-decoration: underline;
}

#content{
    padding: 2% 5%;
    background-color: aliceblue;
}

navigation {
}

navigation ul {
    background-color: chartreuse;
    list-style: none;
    display: flex;
    justify-content: center;
}

navigation ul li {
    padding: 3px 2%;
}

navigation ul li a {
    color: #1d3d40;
    text-decoration: none;
}

navigation ul li a:hover {
    color: #000;
    text-decoration: underline;
}

table.list, table.list td, table.list th {
    padding: 5px;
}

footer{

}

.flash {
    background-color: lightgray;
    padding: 5px 3%;
    font-style: italic;
}

.action {
    background-color: chartreuse;
    padding: 4px;
    border-radius: 4px;
    border: 1px solid green;
    text-decoration: none;
    color: green;
    display: inline-block;
    margin: 10px;
}